.DS_Store
nvim_old
.bash_history
configstore
gcloud
gh
ghc
github-copilot
alacritty/*
gitui/theme.ron.old
nvim/nvim-pack-lock.json
nvim/spell
nvim/lazy-lock.json
alacritty/themes
.bash_history.LOCK
nvim/ggapi.lua
*.zsh_history
*.zcompdump
